<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.myojssm.mapper.ProblemMapper">
    <resultMap id="baseMap" type="org.example.myojssm.entity.Problem">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="level" property="level"/>
        <result column="collection_id" property="collectionId"/>
        <result column="description" property="description"/>
        <result column="template_code" property="templateCode"/>
        <result column="test_code" property="testCode"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <insert id="insertProblem">
        insert into problem(title, level, collection_id, description, template_code, test_code)
        values (#{title}, #{level}, #{collectionId}, #{description}, #{templateCode}, #{testCode})
    </insert>

    <select id="queryAllProblem" resultMap="baseMap">
        select id, title, level
        from problem
    </select>

    <select id="queryAllByLevel" resultMap="baseMap">
        select *
        from problem
        where level = #{level}
    </select>

    <select id="queryOneById" resultMap="baseMap">
        select id, title, level
        from problem
        where id = #{id}
    </select>

    <select id="queryAllByCriteria" resultMap="baseMap">
        select id, title, level from problem
        <where>
            <if test="level != null">
                and level = #{level}
            </if>
            <if test="title != null">
                and title like concat('%', #{title}, '%')
            </if>
        </where>
    </select>
    <select id="queryCollectionListByColAndLevel" resultMap="baseMap">
        select id, title, level from problem
        <where>
            <if test="collectionId != null">
                and collection_id = #{collectionId}
            </if>
            <if test="level != null">
                and level = #{level}
            </if>
        </where>
    </select>


</mapper>