<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>视频播放</title>
    <link rel="stylesheet" href="/component/layui/css/layui.css">
    <style>
        .artplayer-app {
            width: 80%;
            aspect-ratio: 16/9;
            margin: 24px auto auto;
        }
    </style>
</head>
<body>
<nav>
    <ul class="layui-nav layui-bg-blue">
        <li class="layui-nav-item"><a href="/index">首页</a></li>
        <li class="layui-nav-item "><a href="/admin/index">管理员首页</a></li>
        <li class="layui-nav-item "><a href="/admin/add">管理员添加视频页面</a></li>
        <li class="layui-nav-item"><a href="/play">弹幕播放器</a></li>
        <li class="layui-nav-item layui-layout-right"><a href="/account/logout">注销</a></li>
    </ul>
</nav>
<div class="artplayer-app"></div>
<script src="/component/artplayer.js"></script>
<script>
    // 使用Thymeleaf表达式获取videoPath
    var videoPath = '[[${videoPath}]]';

    // 使用获取的videoPath创建视频URL
    var videoURL = '/video/' + videoPath;
    const art = new Artplayer({
        container: '.artplayer-app',
        url: videoURL,
        autoSize: true,
        fullscreen: true,
        autoplay: true,
        muted: true,
    });
</script>
</body>
</html>