<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>视频播放</title>
    <link rel="stylesheet" href="/component/layui/css/layui.css">
    <style>
        .artplayer-app {
            width: 80%;
            aspect-ratio: 16/9;
            margin: 8px auto auto;
        }
    </style>
</head>
<body>
<nav>
    <ul class="layui-nav layui-bg-blue">
        <li class="layui-nav-item"><a href="/index">首页</a></li>
        <li class="layui-nav-item "><a href="/admin/index">管理员首页</a></li>
    </ul>
</nav>
<div class="artplayer-app"></div>
<script src="/component/artplayer.js"></script>
<script src="/component/artplayer-plugin-danmuku.js"></script>
<script th:inline="javascript">
    // 使用Thymeleaf表达式获取videoPath
    const videoId = [[${video.id}]];
    const videoPath = [[${video.videoPath}]];

    // 使用获取的videoPath创建视频URL
    var videoURL = '/video/' + videoPath;
    const art = new Artplayer({
        container: '.artplayer-app',
        url: videoURL,
        autoSize: true,
        fullscreen: true,
        autoplay: true,
        muted: true,
        plugins: [
            artplayerPluginDanmuku({
                danmuku: () => {
                    return fetch('/getDanmu/' + videoId)
                        .then(res => res.json())
                        .then(data => {
                            // 如果获取到的数据不是数组，将其包装成数组返回
                            if (!Array.isArray(data)) {
                                data = [data];
                            }
                            return data;
                        })
                        .catch(error => {
                            console.error('获取弹幕数据失败：', error);
                            // 如果请求失败，返回一个空数组
                            return [];
                        });
                }
            })
        ]
    });
    art.on('artplayerPluginDanmuku:emit', danmu=>{
        danmu.videoId = videoId;
        fetch("/emitDanmu", {
            method: "post",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify(danmu)
        })
        console.log(danmu)
    });
</script>
</body>
</html>