<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myblogssm.mapper.UserInfoMapper">
    <resultMap id="baseMap" type="com.example.myblogssm.entity.UserInfo">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="photo" property="photo"/>
        <result column="createtime" property="createTime"/>
        <result column="updatetime" property="updateTime"/>
        <result column="state" property="state"/>
    </resultMap>

    <insert id="addUserInfo">
        insert into userinfo(username, password) values (#{username}, #{password})
    </insert>
    <select id="selectUserInfo" resultMap="baseMap">
        select username, password
        from userinfo
        where username = #{username}
          and password = #{password};
    </select>
</mapper>