<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myblogssm.mapper.UserMapper">
    <resultMap id="baseMap" type="com.example.myblogssm.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="photo" property="photo"/>
        <result column="email" property="email"/>
        <result column="createtime" property="createTime"/>
        <result column="updatetime" property="updateTime"/>
        <result column="state" property="state"/>
    </resultMap>

    <insert id="addUser">
        insert into userinfo(username, password)
        values (#{username}, #{password})
    </insert>

    <select id="queryUserByName" resultMap="baseMap">
        select *
        from userinfo
        where username = #{username};
    </select>
    <select id="queryUserById" resultMap="baseMap">
        select * from userinfo where id = #{id}
    </select>
</mapper>