.blog-pagnation-wrapper {
  height: 40px;
  margin: 16px 0;
  text-align: center;
}
.blog-pagnation-item {
  display: inline-block;
  padding: 8px;
  border: 1px solid #d0d0d5;
  border-radius: 5px;
  transition: all 0.5s;
  color: #333;
}
.blog-pagnation-item:hover {
  background: rgba(255, 192, 203, 0.8);
  color: #fff;
}
.blog-pagnation-item.actvie {
  background: rgba(255, 192, 203, 0.8);
  color: #fff;
}

#page-navgation-index {
  height: 35px;
  width: 35px;
  border: 1px solid #d0d0d5;
  border-radius: 5px;
  color: #333;
}
