.blog-edit-container {
  width: 1000px;
  height: calc(100% - 50px);
  margin: 0 auto;
}

.blog-edit-container .title {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.simple-button {
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  color: white;
  background-color: #67c23a;
  border-radius: 6px;
}

.simple-button:active {
  background-color: grey;
}

#article-title {
  width: 685px;
  height: 40px;
  font-size: 16px;
  padding-left: 5px;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.8);
}

#save-draft,
#open-time-submit,
.modal-content button.close {
  background-color: orange;
}

.modal-content button.close:active {
  background-color: grey;
}

/* markdown编辑器 */
#editorDiv {
  border-radius: 10px;
  /* opacity: 80%; */
}

/* 模态框（Modal） */
.modal-wrapper {
  display: none;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 400px;
  height: 280px;
}

#datetime {
  margin: 20px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  user-select: none;
  caret-color: transparent;
  cursor: pointer;
}

#datetime:focus {
  border-color: dodgerblue;
}

.modal-content span.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-content span.close:hover,
.modal-content span.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
