.blog .title {
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}

.blog .info {
  text-align: center;
  color: rgb(0, 128, 0);
  padding: 10px 0;
}

.blog .info .blog-state {
  font-size: 13px;
  padding: 0 5px;
  background: #f5f5f5;
  color: #999aaa;
  border-radius: 2px;
}

.blog .desc {
  text-indent: 2em;
}

.blog .operations {
  display: flex;
}

.blog .operations a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  transition: all 0.7s;
}

.blog .operations a:hover {
  background-color: black;
  color: white;
  transition: all 0.7s;
}

/* 筛选框 */
.sift-div label {
  font-weight: bold;
}

.sift-div select {
  width: 100px;
  padding: 7px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* 页面导航按钮 */
.blog-pagnation-wrapper {
  height: 40px;
  margin: 16px 0;
  text-align: center;
}
.blog-pagnation-item {
  display: inline-block;
  padding: 8px;
  border: 1px solid #d0d0d5;
  border-radius: 5px;
  transition: all 0.5s;
  color: #333;
}
.blog-pagnation-item:hover {
  background: rgba(255, 192, 203, 0.8);
  color: #fff;
}
.blog-pagnation-item.actvie {
  background: rgba(255, 192, 203, 0.8);
  color: #fff;
}

#page-navgation-index {
  height: 35px;
  width: 35px;
  border: 1px solid #d0d0d5;
  border-radius: 5px;
  color: #333;
}
