/* 清除浏览器样式 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 让html的高度和body一样高 */
  height: 100%;
}

body {
  /* 让body的高度和html一样高 */
  height: 100%;
  background-image: url(../images/cat.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  height: 50px;
  background-color: rgba(50, 50, 50, 0.4);
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav img {
  width: 40px;
  height: 40px;
  margin-left: 30px;
  margin-right: 10px;
  border-radius: 20px;
}

.nav .spacer {
  width: 70%;
  height: 40px;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.container {
  width: 1000px;
  height: calc(100% - 60px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.container .container-left {
  width: 200px;
  height: 100%;
  border-radius: 8px;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 20px;
}

.card img {
  width: 140px;
  height: 140px;
  border-radius: 70px;
}

.card h3 {
  text-align: center;
  padding: 10px;
}

.card a {
  display: block;
  text-align: center;
  color: #999;
  text-decoration: none;
  padding: 10px 0;
}

.card .counter {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.container .container-right {
  width: 796px;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  overflow: auto;
}



