/* 清除浏览器样式 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 让html的高度和body一样高 */
  height: 100%;
}

body {
  /* 让body的高度和html一样高 */
  height: 100%;
  /* background-image: url(../images/cat.jpg); */
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

input::-webkit-input-placeholder {
  /* placeholder颜色 */
  color: #aab2bd;
  /* placeholder字体大小 */
  font-size: 12px;
}

.nav-wrapper {
  background-color: rgba(50, 50, 50, 0.2);
}

.nav {
  height: 50px;
  width: 1000px;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .logo-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .logo-info img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 20px;
}

.nav .menu a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  transition: all 0.7s;
}

.nav .menu a:hover {
  background-color: pink;
  text-decoration: underline white;
}

.container {
  width: 1000px;
  height: calc(100% - 60px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.container .container-left {
  width: 200px;
  height: 100%;
  border-radius: 8px;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 20px;
}

.card img {
  width: 140px;
  height: 140px;
  border-radius: 70px;
}

.card h3 {
  text-align: center;
  padding: 10px;
}

.card a {
  display: block;
  text-align: center;
  color: #999;
  text-decoration: none;
  padding: 10px 0;
}

.card .counter {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.container .container-right {
  width: 796px;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  overflow: auto;
}
