.login-container {
  height: calc(100% - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-container {
  width: 400px;
  height: 310px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 10px;
  transition: all 0.7s;
}

.dialog-container h3 {
  font-size: 20px;
  text-align: center;
  padding: 30px 0px 10px 0px;
}

.dialog-container > .tips {
  font-size: 13px;
  text-align: center;
  padding: 12px 0px;
  color: rgb(135, 206, 250);
  caret-color: transparent;
  cursor: pointer;
}

.dialog-container > .tips > span:hover {
  text-decoration: underline;
}

.dialog-container > .tips > span:active {
  color: grey;
}

.dialog-container .row {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-container .row span {
  width: 80px;
}

.dialog-container .row input {
  width: 180px;
  height: 40px;
  font-size: 18px;
  padding-left: 5px;
  border-radius: 8px;
  border: none;
  /* outline: none; */
}

#login-btn,
#register-btn {
  width: 260px;
  height: 40px;
  border-radius: 6px;
  background-color: rgb(0, 128, 0);
  color: white;
  border: none;
}

#login-btn:active,
#register-btn:active {
  background-color: grey;
}

#email-code-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#email-code-row label {
  color: #aab2bd;
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
}

#email-code-row label:hover {
  text-decoration: underline;
}
