.container {
  width: calc(100% - 10px);
  height: calc(100vh - 70px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.container .container-left {
  width: calc(50% - 5px);
  border-radius: 5px;
}
.container .container-right {
  display: flex;
  width: calc(50% - 5px);
  border-radius: 5px;
  overflow: auto;
  justify-content: space-between;
  flex-direction: column;
}
.problem-detail-container {
  box-sizing: border-box;
  padding: 10px;
}
.problem-edit-container {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  height: calc(70% - 5px);
}
.problem-result-container {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  height: calc(30% - 5px);
}
#editor {
  position: relative;
  height: 400px;
}
