<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;"><i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp;</a>
                <dl class="layui-nav-child">
                    <dd><a href="/user/profile"><i class="fa fa-user-circle-o" aria-hidden="true"></i>个人信息</a></dd>
                    <dd><a href="javascript:;"><i class="fa fa-edit" aria-hidden="true"></i>修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="fa fa-list" aria-hidden="true"></i>餐桌</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;"><i class="fa fa-list-ol" aria-hidden="true"></i>餐桌管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="fa fa-book" aria-hidden="true"></i>菜谱</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;"><i class="fa fa-book" aria-hidden="true"></i>菜谱管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="fa fa-folder-open" aria-hidden="true"></i>订单</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;"><i class="fa fa-file-text-o" aria-hidden="true"></i>订单管理</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
</body>
</html>